* {
    margin: 0;
    padding: 0;
}

body {
    width: 90%;
    margin: auto;
}

section {
    display: flex;
    justify-content: space-between;
}

#Yfeed {
    display: flex;
    height: 80px;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
header {
    display: flex;
    height: 80px;
    background-color: black;
    color: white;
    font-size: 40px;
    align-items: center;
    box-sizing: border-box;
    padding: 25px;
}

.container1 {
    box-sizing: border-box;
    width: 30%;
}

.column1 {
    display: flex;
    flex-direction: column;
    height: 300px;
    align-items:center;
    border: 2px solid black;
    box-sizing: border-box;
}

.column1 img {
    width: 50%;
    padding: 30px;
}

#avatar {
    font-size: 18px;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    justify-content: flex-end;
}


.column2 , .column3 , .column4 {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 100%;
    align-items: center;
    border: 2px solid black;
    box-sizing: border-box;
    margin-bottom: 25px;
}

.row1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
}


.names {
    display: flex;
    padding: 10px;
    font-size: 25px;
}

.comments {
    padding: 10px;
    font-size: 25px;
}

#user {
    font-size: 30px;
}

.group {
    display: flex;
    gap: 30px;
    font-size: 23px;
}

.buttn {
    height: 30px;
    width: 60px;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 4px;
    box-shadow: 5px 5px 5px black;
    background-color: rgb(184, 176, 71);
}

.buttn:active {
    filter:brightness(85%);
    box-shadow: 2px 2px 2px black;
}

#row2 {
    display: flex;
    margin: 20px;
    font-size: 23px;
    
}

.bluetext {
    color: rgb(16, 74, 182);
    text-decoration: underline blue;
}