* {
    margin: 0;
    padding: 0;
}

body {
    width: 95%;
}

.container {
    margin: 40px;
    width: 60%;
    border: 3px solid black;
    box-sizing: border-box;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 25px;
    box-sizing: border-box;
    align-items: center;
}

#user {
    font-size: 30px;
}

.group {
    display: flex;
    gap: 30px;
    font-size: 23px;
}

.buttn {
    height: 30px;
    width: 60px;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 4px;
    box-shadow: 5px 5px 5px black;
    background-color: rgb(184, 176, 71);
}

.buttn:active {
    filter:brightness(85%);
    box-shadow: 2px 2px 2px black;
    box-shadow: 2px 2px 2px black;
}

#row2 {
    display: flex;
    margin: 20px;
    font-size: 23px;
    justify-content: center;
}